
{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

 {% block title %}<title>Kirish</title>{% endblock title %}kirish
    {% block content %}
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Email manzilingizni tekshiring</h5>
                        <p class="text-center small">Biz sizga parolni o'zgartirishingiz uchun bog'lama yubordik. Bog'lamada ko'rsatilgan link orqali parolni tiklashingiz mumkin.</p>
                      </div>
    
                    
                      
    {% endblock content %}
                    