
{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

 {% block title %}<title>Kirish</title>{% endblock title %}kirish
    {% block content %}
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Parolni tiklang</h5>
                        <p class="text-center small">Yangi parolni kiriting va uni tasdiqlang. Keyinchalik tizimga aynan shu parol orqali kira olasiz</p>
                      </div>
    
                      <form class="row g-3 needs-validation" novalidate  method="POST">
                        {% csrf_token %}
                        {{ form.media}}
                        {% for field in form %}
                        <div class="col-12">
                          <label for="{{ field.id_for_label }}" class="form-label mt-2">{{ field.label }}</label>
                          {{ field }}
                          <div class="invalid-feedback">Iltimos parolingizni kiriting!</div>
                        </div>
                        
                        {% endfor %}
    
                        
                        <div class="col-12">
                          <button class="btn btn-success w-100" type="submit">Yuborish</button>
                        </div>
                        <div class="col-12">
                          <p class="small mb-0">Profilingiz hali ham yo'qmi? <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
                        </div>
                      </form>
                      <script>
                        var inp = document.querySelectorAll("input");
                        var lbl = document.querySelectorAll("label");
                        
                        for (let index = 0; index < inp.length; index++) {
                           inp[index].className = "form-control";                   
                                }
                        lbl[0].innerText = "Yangi parol";
                        lbl[1].innerText = "Yangi parolni tasdiqlang";
                        
                     </script>
    {% endblock content %}
                    