
{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

 {% block title %}<title>Kirish</title>{% endblock title %}kirish
    {% block content %}
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Parolingiz o'zgartirildi</h5>
                        <p class="text-center small">Yangi parol orqali tizimga kirishingiz mumkin.</p>

<div class="col-12">
    <a href="{% url 'login' %}" class="btn btn-success w-100" type="submit">Kirish</a>
  </div

                      </div>
    
                    
                      
    {% endblock content %}
                    