{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<titlt> Profil</title>{% endblock title %}

{% block content %}
<section class="section profile" style="margin-top: 5vh;">
      <div class="row">
        <div class="col-xl-4">

          <div class="card" style="height: 354px;">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{% static 'assets_1/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
              <h2>{{ users.m_fio }}</h2>
              <h5>Foydalanuvchi</h5>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-telegram"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Ma'lumotlarim</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                 
                  <h5 class="card-title"  style="margin: 10px 0;">Profil ma'lumotlari</h5>

                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-3 col-md-4 label " style="font-weight: 700;">O'quvchi F.I.O si:</div>
                    <div class="col-lg-9 col-md-8">{{ users.u_fio }}</div>
                  </div>

                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-3 col-md-4 label"  style="font-weight: 700;">Guruhi:</div>
                    <div class="col-lg-9 col-md-8">{{ users.guruhi }}</div>
                  </div>

                  <div class="row"   style="margin-top: 10px;">
                    <div class="col-lg-3 col-md-4 label"  style="font-weight: 700;">Mas'ul F.I.O si:</div>
                    <div class="col-lg-9 col-md-8">{{ users.m_fio }}</div>
                  </div>

                  <div class="row"  style="margin-top: 10px;">
                    <div class="col-lg-3 col-md-4 label" style="font-weight: 700;">Telefon raqami:</div>
                    <div class="col-lg-9 col-md-8">{{ users.tel }}</div>
                  </div>

                  <div class="row"  style="margin-top: 10px;">
                    <div class="col-lg-3 col-md-4 label" style="font-weight: 700;">Manzili:</div>
                    <div class="col-lg-9 col-md-8">{{ users.manzil }}</div>
                  </div>

                  <div class="row"  style="margin-top: 10px;">
                    <div class="col-lg-3 col-md-4 label"  style="font-weight: 700;">Username:</div>
                    <div class="col-lg-9 col-md-8">{{ users.username }}</div>
                  </div>

                  <div class="row"  style="margin-top: 10px;"  style="font-weight: 700;">
                    <div class="col-lg-3 col-md-4 label" style="font-weight: 700;">Email:</div>
                    <div class="col-lg-9 col-md-8">{{ users.email }}</div>
                  </div>

                </div>

                
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock content %}
