{% extends 'base.html' %}
  {% load static %}
{% block content %}
 <main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Natijalar</h2>
      <p>Maktabda darslar doimo yuqori darajada o'tiladi va har yil o'quv qo'llanmalarga yangilik va qo'shimchalar qo'shib boriladi. Bu esa maktab o'quv uslubi zamon bilan ham nafas bo'lishiga yordam bo'ladi. </p>
    </div>
  </div><!-- End Breadcrumbs -->

  

</main><!-- End #main -->
{% endblock content %}
